<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
        <nav>
            <button id="Home" class="btn-no-style">Home</button>
            <button id="Dashboard" class="btn-no-style">Dashboard</button>
            <button id="Logout" class="btn-no-style">Logout</button>
        </nav>
        <h1>
            <a href="/">The Tech Blog</a>
        </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>
  <script src="/javascript/logout.js"></script>
</body>

</html>